//colors
$color-primary: #0c303e;
$color-primary-light: #28647b;
$color-secondary: #303030;
$color-secondary-light: rgb(107, 114, 142, 0.5); 
$color-secondary-light-1: rgb(107, 114, 142, 0.8);

$color-background-secondary: #f9fafe;
$color-background-tertiary: #0e3378;

$color-black: black;
$color-black-hover: #2c2c2c;
$color-white: #fff;
$color_lightgrey: #f5f5f5;
$color_lightgrey-1: #f8f8f8;
$color-grey-dark-1: rgba(255, 255, 255, 0.5);
$color-grey-dark: rgba(255, 255, 255, 0.15);
$color-grey-dark-2: #505050;
$color-grey-hover: #d9d9d9;

//Font
$default-font-size: 1rem;

